version: '3'

services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=1000Tei@s
  web:
    environment:
      - PYTHONUNBUFFERED=1
      - POSTGRES_PASSWORD=1000Tei@s
    build: .
    image: sergioalonsojr/gerador_clipping
    command:  bash -c "python manage.py migrate --fake && python manage.py makemigrations gerador && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    restart: always
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - db
  
      
    

networks:
  default:
    external:
      name: healthnewsapi_default